<div class="container p-4">
	<h2 class="mb-4">Personagens</h2>
	<div class="card">
		<div class="card-body px-0">
			<div *ngIf="error; else charactersList">
				<div class="alert alert-warning m-0" role="alert">
					{{ error }}
				</div>
			</div>
			<ng-template #charactersList>
				<table class="table table-striped table-hover table-sm" *ngIf="characters; else loading">
					<thead>
						<tr class="align-middle">
							<th class="table-cell text-center" scope="col">ID</th>
							<th class="table-cell" scope="col">Nome</th>
							<th class="table-cell" scope="col">Espécie</th>
							<th class="table-cell" scope="col">Criação</th>
							<th class="table-cell" scope="col">Status</th>
							<th class="table-cell" scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr class="align-middle" *ngFor="let character of characters">
							<td class="table-cell text-center" scope="row"><span class="text-primary fw-bold">#{{character.id}}</span></td>
							<td class="table-cell">
								<img class="rounded-circle me-2" [src]="character.image" alt="character" width="32"
									height="32">
								<span>{{character.name}}</span>
							</td>
							<td class="table-cell">{{character.species}}</td>
							<td class="table-cell">{{character.created | date: 'dd/MM/yyyy' }}<br />
								<span class="text-muted">{{character.created | date: 'HH:mm' }}</span>
							</td>
							<td class="table-cell">{{character.status}}</td>
							<td class="table-cell">
								<button class="btn btn-primary btn-sm float-end me-2"
									(click)="getCharacterDetails(character.id)">Detalhes
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="d-flex justify-content-center">
					<app-pagination [page]="page" [totalPages]="totalPages"
						(pageChange)="goToPage($event)"></app-pagination>
				</div>
				<ng-template #loading>
					<p>Loading...</p>
				</ng-template>
			</ng-template>
		</div>
	</div>
</div>
