.login-container {
	max-width: 25rem;
	margin: 0 auto;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 1rem;
	background-color: #fff;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

.form-group {
	margin-bottom: 1rem;
}

.btn {
	width: 100%;
}
