<header class="p-3 border-bottom">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<div class="my-1">
				<img [src]="currentUser?.image || 'github.com/mdo.png'" alt="mdo" width="32" height="32" class="rounded-circle">
			</div>

			<ul class="nav mx-auto my-1 justify-content-center">
				<li><a [routerLink]="'/characters'" routerLinkActive="active" class="nav-link px-2 link-dark me-1">Personagens</a></li>
				<li><a [routerLink]="'/locations'"  routerLinkActive="active" class="nav-link px-2 link-dark me-1">Locais</a></li>
				<li><a [routerLink]="'/episodes'"  routerLinkActive="active" class="nav-link px-2 link-dark">Episódios</a></li>
			</ul>

			<div class="dropdown text-end">
				<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
					data-bs-toggle="dropdown" aria-expanded="false">
					<img [src]="currentUser?.image || 'github.com/mdo.png'" alt="mdo" width="32" height="32" class="rounded-circle">
					<span class="mx-2">{{currentUser?.username}}</span>
				</a>
				<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
					<li><a class="dropdown-item" [routerLink]="'profile'" (click)="goToProfile()">Perfil</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><button class="dropdown-item" (click)="logout()">Logout</button></li>
				</ul>
			</div>
		</div>
	</div>
</header>
