/* You can add global styles to this file, and also import other style files */
html, body {
	min-width: 561px;
	min-height: 100vh;
}

.cursor-pointer {
	cursor: pointer;
}

.disabled {
	cursor: not-allowed;
}

.info-inline {
	display: flex;
	justify-content: space-between;
	padding-inline: 0.5rem;
	padding: 0.5rem;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}

.info-inline:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
