<div class="container p-4">
	<h2 class="mb-4">Episódios</h2>
	<div class="card">
		<div class="card-body">
			<div *ngIf="error; else episodesContent">
				<div class="alert alert-warning m-2" role="alert">
					{{ error }}
				</div>
			</div>
			<ng-template #episodesContent>
				<div *ngIf="isLoading; else episodesList">
					<app-loading-spinner></app-loading-spinner>
				</div>
				<ng-template #episodesList>
					<ng-container *ngIf="episodes.length > 0; else noEpisodes">
						<div class="table-responsive rounded">
							<table class="table table-striped table-hover table-sm">
								<thead>
									<tr class="table-dark align-middle">
										<th class="table-cell text-center" scope="col">ID</th>
										<th class="table-cell" scope="col">Nome</th>
										<th class="table-cell" scope="col">Estreia</th>
										<th class="table-cell" scope="col">Criação</th>
										<th class="table-cell" scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr class="align-middle cursor-pointer" *ngFor="let episode of episodes" (click)="getEpisodeDetails(episode.id)">
										<td class="table-cell text-center" scope="row"><span class="text-primary fw-bold">#{{episode.id}}</span></td>
										<td class="table-cell">{{episode.name}}</td>
										<td class="table-cell">{{episode.air_date}}</td>
										<td class="table-cell">{{episode.created | date: 'dd/MM/yyyy' }}<br />
											<span class="text-muted">{{episode.created | date: 'HH:mm' }}</span>
										</td>
										<td class="table-cell">
											<button class="btn btn-primary btn-sm float-end me-2"
												(click)="getEpisodeDetails(episode.id); $event.stopPropagation()">Detalhes
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="d-flex justify-content-center">
							<app-pagination [page]="page" [totalPages]="totalPages"
								(pageChange)="goToPage($event)"></app-pagination>
						</div>
					</ng-container>
				</ng-template>
				<ng-template #noEpisodes>
					<div class="alert alert-info m-2" role="alert">
						Nenhum local encontrado.
					</div>
				</ng-template>
			</ng-template>
		</div>
	</div>
</div>
